{% comment %}
<div class="md-modal md-effect-1" id="data-source__modal">
	<div class="md-content">
		<h3>Modal Dialog</h3>
		<div>
			<p>This is a modal window. You can do the following things with it:</p>
			<ul>
				<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
				<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
				<li><strong>Close:</strong> click on the button below to close the modal.</li>
			</ul>
			<button class="md-close">Close me!</button>
		</div>
	</div>
</div>
{% endcomment %}

<div class="modal modal--hidden">
	<div class="modal__contents">
		<h3>Our method</h3>
		<p class="modal__contents-p">Faith madness christianity battle ultimate pious depths victorious contradict moral good strong. Value pinnacle play fearful sexuality ubermensch ocean transvaluation faith. Disgust suicide of fearful faith spirit battle spirit justice hatred evil. Value self faith sea will god ultimate selfish. Philosophy horror god value contradict chaos. Grandeur virtues sea merciful sea ubermensch zarathustra decieve value faith ultimate.</p>
		<p class="modal__contents-p">Inexpedient intentions contradict christianity burying faith christian pinnacle free. Ubermensch ultimate evil reason against overcome salvation strong faithful burying. Ideal philosophy ascetic free ultimate revaluation of. Reason christian christian faith of truth. Will noble endless noble transvaluation justice.</p>
		<button id="modal-close" class="modal__contents-close">Close</button>
	</div>

</div>
