<header class="usa-header usa-header--extended" role="banner">
  <nav role="navigation" class="usa-nav">
    <div class="nav-left">
      <ul>
      {% for nav_item in include.primary_navigation %}
      {% assign basedir = page.url | remove_first: '/' | split: '/' | first | lstrip %}
      {% assign linkdir = nav_item.url | replace: "/", "" | lstrip %}
      <li class="usa-nav__primary-item">
        <a href="{{ nav_item.url | prepend: site.baseurl}}"><span>{{ nav_item.name | escape }}</span></a>
      </li>
      {% endfor %}
      </ul>
    </div>
    <div class="nav-right">
      <ul>
      {% for nav_item in include.secondary_navigation %}
      <li>
        <a href="{{ nav_item.url | prepend: site.baseurl }}">{{ nav_item.name | escape }}</a>
      </li>
      </ul>
      {% endfor %}
    </div>
  </nav>
</header>
