.topics {
  background-color: $color-primary;
  position: relative;
  top: -10rem;
  margin-bottom: -13.2rem;
  &__container {
    padding-top: 10rem;
  }
  &__row {
    margin: 3rem auto;
    padding-bottom: 3rem;
    border-bottom: 5px solid $color-secondary;
  }
  &__card {
    background-color: $color-primary-light;
    padding: 2.5rem 2rem;
    border-radius: 4px;
    margin-right: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid $color-primary-light;
    transition: border 400ms ease;
    p {
      font-family: $font-sans;
      font-size: $font-size-s;
      font-weight: 500;
      color: $color-white;
      line-height: $line-height-m;
    }
    &:hover {
      cursor: pointer;
      border: 1.5px solid $color-secondary;
    }
  }
}

.datasets {
  background-color: $color-primary;
  margin-bottom: -1rem;
  &__container {
    padding: 2rem 0.5rem;
  }
  &__row {
    justify-content: center;
  }
  &__card {
    margin: 1.5rem;
    width: 30%;
    padding: 2.5rem;
    background-color: $color-primary-medium;
    border-radius: 10px;
    border: 2px solid $color-primary-medium;
    color: $color-white;
    font-family: $font-sans;
    transition: border 400ms ease;
    &-link {
      text-decoration: none;
      color: $color-white;
    }
    &-title {
      font-size: $font-size-s;
      font-weight: 600;
      line-height: $line-height-s;
      margin-bottom: 0.8rem;
    }
    &-subtitle {
      margin: 0;
      font-size: $font-size-xs;
      font-weight: 400;
      opacity: 0.65;
      line-height:1.8rem;
      span {
        font-style: italic;
      }
    }
    &-description {
      font-size: 1.4rem;
      line-height: $line-height-s;
      opacity: 0.9;
    }
    &-arrow {
      opacity: 0;
      float: right;
      position: relative;
      top: -1rem;
      right: -1rem;
      transition: opacity 400ms ease;
    }
    &-email {
      opacity: 0;
      transition: all 400ms ease;
      background-color: $color-white;
      border-radius: 4px;
      width: 9.5rem;
      position: absolute;
      padding: 0.8rem;
      text-align: right;
      right: 2rem;
      bottom: -1rem;
      font-size: $font-size-xs;
      color: $color-primary-dark;
      &::before {
        content: '';
        display: block;
        width: 16px;
        height: 13px;
        float: left;
        background-image: url('../images/icons/email.svg');
        background-repeat: no-repeat;
        margin-top: 1px;
      }
    }

    &:hover {
      border: 2px solid $color-secondary;
      .datasets__card-arrow {
        opacity: 1;
      }
      .datasets__card-email {
        opacity: 1;
      }
    }
  }
}
